# SPDX-License-Identifier: GPL-2.0-only
#
# Timer Interrupt Frequency Configuration
#


choice
	prompt "Timer frequencies"
	default HZ_333
	help
	 Configuration of the timer frequency.
	 Sources:include/linux/jiffies.h
	 Sources:include/asm-generic/param.h

	 Hz formula:
	 1000 / X

	 Complete Hertz Numbers:
	 1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 80, 100, 125, 200, 250,
	 400, 500, 800, 1000

	 Balance Hertz Numbers:
	 3Hz (High-Latency)

	 33Hz (Mid-Latency)

	 333Hz (Low-Latency)

	config HZ_333
		bool "333 HZ"
	help
	 333 ticks per second.
	 3.0ms each tick.

endchoice

config HZ
	int
	default 333 if HZ_333

config SCHED_HRTICK
	def_bool HIGH_RES_TIMERS
