# SPDX-License-Identifier: GPL-2.0-only
#
# Timer Interrupt Frequency Configuration
#


choice
	prompt "mrtelekinesis timer formula"
	default HZ_200
	help
	 Configuration of the timer frequency.
	 Sources:include/linux/jiffies.h
	 Sources:include/asm-generic/param.h

	 Hz formula:
	 1000 / X

	 Even Hertz Numbers:
	 1, 2, 2.5, 4, 5, 8, 10, 12.5, 20, 25, 40, 50, 80, 100, 125, 200, 250, 400, 500,
	 800, 1000

	 Note: Floating point numbers cannot be used (2.5, etc).

	config HZ_200
		bool "200 HZ"
	help
	 200 ticks per second.
	 5ms each tick.

endchoice

config HZ
	int
	default 200 if HZ_200

config SCHED_HRTICK
	def_bool HIGH_RES_TIMERS
